
@font-face {
  font-family: "Jaapokki-subtrac";
  src: url('/src/assets/fonts/jaapokkisubtract-regular.ttf') format('ttf')
}
@font-face {
  font-family: "rota-medium";
  src: url('/src/assets/fonts/Rota-Medium.otf') format('otf')
}
/* @import url('https://fonts.cdnfonts.com/css/jaapokki'); */

body{
  background-color: black;
}

.nav-link span{
  color: white !important;
}

.hero header{
  background: transparent !important;
}